<div class="jumbotron text-center">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Overall Transactions</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3">
                <canvas id="myChart1"></canvas>
                <span class="text-bold">Total Transaction</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <canvas id="myChart2"></canvas>
                <span class="text-bold">Higher vs. Lower Volume</span>
            </div>
            <div class="col-xs-6 col-sm-6">
                <canvas id="myChart3"></canvas>
                <span class="text-bold">Transaction Trend</span>
            </div>
        </div>
    </div>
</div>