<div class="jumbotron text-center">
    <div class="col-sm-9 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Overall Transactions</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3">
                <canvas id="myChart1"></canvas>
                <span class="text-bold">Total Transaction</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <canvas id="myChart2"></canvas>
                <span class="text-bold">High vs. Low Priority</span>
            </div>
            <div class="col-xs-6 col-sm-6">
                <canvas id="myChart3"></canvas>
                <span class="text-bold">Transaction Trend</span>
            </div>
        </div>
    </div>
    <span>Selected LOB: {{ selectedLOB }}</span>
    <div>
        <table class="table table-striped">
            <thead><tr><th>Transaction ID</th><th>LOB</th><th>Sender</th><th>Amount</th><th>Date</th><th></th></tr></thead>
            <tr ng-repeat="rec in records | filter:selectedLOB">
                <td>{{ rec.transaction_id }}</td>
                <td>{{ rec.lob }}</td>
                <td>{{ rec.sender_fname }} {{ rec.sender_lname }}</td>
                <td>{{ rec.amount }}</td>
                <td>{{ rec.date }}</td>
                <td><button class="btn btn-default">Details</button></td>
            </tr>
        </table>
    </div>
</div>